!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:charset => "utf-8"}/
    %title What's on tonight
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    / Le styles
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700,700italic,800,800italic"
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="../assets/js/html5shiv.js"></script>
    / Fav and touch icons
    = favicon_link_tag "/favicon.png", :type => 'image/png'
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "#"} What's on tonigh
          .nav-collapse.collapse
            %p.navbar-text.pull-right
            %ul.nav
              %li.active
                %a{:href => "#"} Home
          / /.nav-collapse
    = yield
    .section
      %hr/
      %footer
        %p tvhackday Munich 2013
    / /.fluid-container
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
